#container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#filter {
    position: sticky;
    top: 0;
    width: 250px;
    background-color: white;
    
    border-radius: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 100vh; 
    overflow-y: auto; 
}

#filter button {
    width: 75%;
    margin: 10px;
    padding: 10px;
    
    background-color: #e63946;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

#filter button:hover {
    background-color: #d42f2f;
}

#content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    flex: 1;
    padding: 20px;
}

#content div {
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
}

#content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

button {
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #d42f2f;
}

#loadmorebutton {
    background-color: #2a9d8f;
    width: 200px;
    margin: 20px auto;
}

#loadmorebutton:hover {
    background-color: #1f7f6f;
}


@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }
    #filter {
        width: 100%;
    }
}
